{# Password template for Moosejudge #}
---
{% for account in accounts %}
vault_{{ account.name }}_username: {{ account.username }}
vault_{{ account.name }}_password: {{ account.password }}
{% endfor %}
